<div class="p-4">
  <div>
    <div class='row pagesection p-2'>
      <div class='col'>
        <h2> Featured subjects </h2>
        <div>   <%= render Dwexp::BrowseComponent.new(facet_field:'subjects_ssim', display_type: 'button') %>    </div>
      </div>

      <div class ='col rounded highlight p-4'>
        <h2> Data available for classes </h2>
        <%= render Dwexp::BrowseComponent.new(facet_field:'courses_sim', display_type: 'link') %>
      </div>
    </div>

    <div class='row pagesection m-4 p-2'>
      <h2> Recently published datasets </h2>
      <%= render Dwexp::QueryListComponent.new(query:'*:*', sort:'publication_year_isi desc') %>
    </div>

    <div class='row pagesection p-2'>
      <div class='col'>
        <h2> Browse affiliated institutions </h2>
        <%= render Dwexp::BrowseComponent.new(facet_field:'affiliation_names_sim', display_type: 'link', view_all:'institutions') %>
      </div>
      <div class ='col'>
        <h2> Browse funders </h2>
        <%= render Dwexp::BrowseComponent.new(facet_field:'funders_ssim', display_type: 'link', view_all:'funders') %>
      <div>
    </div>
  
  </div>
</div>