<div class="mt-5">
  <div class="border-start ps-lg-3 px-3 mb-5">
    <%= render(Dwexp::AccessComponent.new(document:@document)) %> 
    <%= render(Dwexp::RightsComponent.new(document:@document)) %> 
    <%= render(Dwexp::ContactComponent.new(document:@document)) %> 
    <%= render(Dwexp::AlsoAvailableComponent.new(document:@document)) %>
    <%= render(Dwexp::RelatedPublicationsComponent.new(document:@document)) %>
  </div>
</div>