<% @facet_field_counts.each_with_index.map do |e, i|
        if i.even?
            if @display_type == 'button'
                %><button class='browseitem btn btn-outline-primary'><%= helpers.add_facet_link(@facet_field, e) %></button><%
            elsif @display_type == 'highlight'
                %><div class='rounded highlight'><%= helpers.add_facet_link(@facet_field, e) %></div><%
            else
                %><div class='browseitem'><%= helpers.add_facet_link(@facet_field, e) %></div><%
            end
        end
    end
%>

<% if @view_all 
    browse_link = "/catalog/facet/#{@facet_field}"
%>
        <div class='mt-3'>
            <button class='btn btn-outline-primary'><a href='<%=browse_link%>'>View all <%=@view_all%></a></button>
        </div>
<% end %>