<header class="documentHeader row">
  <%= content_tag @as, class: @classes do %>
    <% before_titles.each do |t| %>
      <%= t %>
    <% end %>

    <div class="d-flex flex-wrap align-items-center gap-2 mb-2">
      <%= render Badges::AccessComponent.new(document: presenter.document) %>
      <%= render Badges::StanfordAuthoredComponent.new(document: presenter.document) %>
    </div>

    <div class="d-flex align-items-baseline gap-1">
      <%= counter %><%= title %>
    </div>

    <% after_titles.each do |t| %>
      <%= t %>
    <% end %>
  <% end %>

  <% actions.each do |action| %>
    <%= action %>
  <% end %>
</header>
