<header class="documentHeader row pb-2">
  <%= content_tag @as, class: @classes do %>
    <% before_titles.each do |t| %>
      <%= t %>
    <% end %>

    <% badges = capture do %>
      <%= render Badges::AccessComponent.new(document: presenter.document) if render_access_badge? %>
      <%= render Badges::StanfordAuthoredComponent.new(document: presenter.document) %>
    <% end %>
    <% if badges.strip.present? %>
      <div class="d-flex flex-wrap align-items-center gap-2 mb-2"><%= badges %></div>
    <% end %>

    <div class="d-flex align-items-baseline gap-1">
      <%= counter %><%= title %>
    </div>

    <% after_titles.each do |t| %>
      <%= t %>
    <% end %>
  <% end %>

  <% actions.each do |action| %>
    <%= action %>
  <% end %>
</header>
