<div class='mb-4'>
  <h2>Related Works</h2>
  <div data-controller="related-publications" data-related-publications-url-value="<%= openalex_info_url %>">
  <%
    @group_publications.keys.each do |display_relation_type|
      %><h5><%= display_relation_type %></h5><%
      items = @group_publications[display_relation_type]

      items.each do |item|
        id_type = item['related_identifier_type'] || '' 
        id = item['related_identifier']
        display_id = "#{id_type} #{id}"
        %>
        <span data-related-publications-target="publication" api-id="<%=id%>" api-id-type-value="<%=id%>"><%= display_id %></span>
        <%
      end
    end
  %>
  </div>
</div>



