<div class="mb-4">
  <h2>Related Works</h2>
  <div data-controller="related-publications" data-related-publications-url-value="<%= openalex_info_url %>">
    <% @group_publications.keys.each do |display_relation_type| %>
      <h3 class="mt-3"><%= display_relation_type %></h3>
      <% items = @group_publications[display_relation_type] %>

      <% items.each do |item| %>
        <% id_type = item['related_identifier_type'] || '' %>
        <% id = parse_id(item['related_identifier'], id_type) %>
        <% display_id = "#{id_type} #{id}" %>
        <div class="mb-2" data-related-publications-target="publication" api-id="<%= id %>" api-id-type="<%= id_type %>"><%= display_id %></div>
      <% end %>
    <% end %>
  </div>
</div>
