<div id="subjects" class="mb-4">
  <h2><%= t('.heading') %></h2>
  <div data-controller="expand-items" data-expand-items-max-rows-value="<%= VISIBLE_COUNT %>">
    <ul class="list-unstyled mb-0">
      <% document.subjects.each do |subject| %>
        <li data-expand-items-target="item"><%= link_to subject, subject_facet_path(subject) %></li>
      <% end %>
    </ul>
    <button type="button"
            data-expand-items-target="toggle"
            data-action="expand-items#toggle"
            class="btn btn-link p-0 mt-2 small text-decoration-none"
            hidden>
      <span data-expand-items-target="moreControl" class="content-summary__control align-items-center gap-1">
        <%= render Icons::ArrowDownCircleComponent.new(aria_hidden: true) %><%= t('.show_more') %>
      </span>
      <span data-expand-items-target="lessControl" class="content-summary__control align-items-center gap-1" hidden>
        <%= render Icons::ArrowUpCircleComponent.new(aria_hidden: true) %><%= t('.show_less') %>
      </span>
    </button>
  </div>
</div>
